{{ define "scripts" }}
	{{ $jsFilterizr := resources.Get "js/vanilla.filterizr.min.js" }}
	<script type="text/javascript" src="{{ $jsFilterizr.Permalink }}"></script>
	<script type="text/javascript">
		window.onload = function() {
			const options = {
				animationDuration: 0.25,
				callbacks: {
					onFilteringEnd: function() {
						const counter = document.querySelector('.counter');
						const number = document.querySelectorAll('.filtr-item').length - document.querySelectorAll('.filteredOut').length;
						counter.innerText = number;
					},
				},
				layout: 'vertical',
				multifilterLogicalOperator: 'and',
			};
		
			filterizr = new Filterizr('.items', options);
	
			const multiFilters = document.querySelectorAll('.filter button');
		
			Array.from(multiFilters).forEach((node) => node.addEventListener('click', function() {
				node.classList.toggle('active');
			})
			);
		
			var reset = document.getElementById("reset");
			reset.onclick = function() {
				location.reload();
			}
		}
	</script>
{{ end }}

{{ define "main" }}
	<div class="content archive list">
	{{ $pages := where (where .Site.RegularPages "Type" "!=" "page") "Params.Rssonly" "!=" true }}

		<header>
			<h1>{{ with .Params.Icon }}{{ . }}&nbsp;{{ end }}{{ .Title }}</h1>
			<p class="description"><span class="counter">{{ len $pages }}</span> {{ T "results" }}</p>
		</header>
		
		<main class="items">
			{{ range $pages }}
				<article class="filtr-item title" data-category="{{ .Section }}, {{ .Date.Format "2006" }}, {{ if .Params.Themes }}{{ delimit .Params.Themes ", " }}{{ end }}, {{ if .Params.Pays }}{{ delimit .Params.Pays ", " }}{{ end }}, {{ if .Params.Genres }}{{ delimit .Params.Genres ", " }}{{ end }}, {{ if .Params.Lectures }}{{ delimit .Params.Lectures ", " }}{{ end }}">
					<h2>{{ with .Parent.Params.Icon }}{{ . }}{{ end }}<a href="{{ .Permalink }}">{{ partial "title.html" . }}</a></h2>
					<time datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date | time.Format ":date_long" }}</time>
				</article>	
			{{ end }}
		</main>
		
		<section class="filters">
			<aside class="filter">
				<h2>{{ T "by_category" }}</h2>
	
				{{ range .Site.Sections.ByTitle }}
					<button data-multifilter="{{ .Section }}">{{ with .Params.Icon }}{{ . }}&nbsp;{{ end }}{{ .Title }}</button>
				{{ end }}
			</aside>

			<aside class="filter">
				<h2>{{ T "by_year" }}</h2>

				{{ range $pages.GroupByDate "2006" }}
					<button data-multifilter="{{ .Key }}">{{ .Key }}</button>
				{{ end }}
			</aside>
			
			{{ if .Params.Filters }}
				{{ range .Params.Filters }}
					<aside class="filter">
						{{ $filter := . }}
						{{ $title := printf "by_%s" $filter }}
						<h2>{{ T $title }}</h2>
						
						{{ range (index $.Site.Taxonomies $filter) }}
							<button data-multifilter="{{ .Page.Title }}">{{ .Page.Title }}</button>
						{{ end }}
					</aside>
				{{ end }}
			{{ else }}
				<aside class="filter">
					<h2>{{ T "by_themes" }}</h2>
					
					{{ range (index .Site.Taxonomies "themes") }}
						<button data-multifilter="{{ .Page.Title }}">{{ .Page.Title }}</button>
					{{ end }}
				</aside>
			{{ end }}
		</section>
	</div>
{{ end }}