<!DOCTYPE html>
<html {{with .Site.LanguageCode}}lang="{{.}}"{{end}}>
	<head>
		{{ partial "head.html" . }}
		{{ block "scripts" . }}{{ end }}
	</head>
	
	<body class="{{ if .Params.Theme }}{{ .Params.Theme }}{{ else }}purple{{ end }}">
		<header class="content site-header">
			{{ partial "header.html" . }}
		</header>
		
		<main class="site-main" id="main">
			{{ block "main" . }}{{ end }}
		</main>

		<footer class="site-footer">
			{{ partial "footer.html" . }}
		</footer>
		
		{{ partial "after.html" . }}
	</body>
</html>