{{ define "main" }}

<article>
	<header>
		{{ if $hero := .Resources.GetMatch "*.jpg" }}
			{{ $default := $hero.Resize "800x" }}
			{{ $small := $hero.Resize "600x webp" }}
			{{ $medium := $hero.Resize "800x webp" }}
			{{ $large := $hero.Resize "1200x webp" }}
			{{ $xlarge := $hero.Resize "1600x webp" }}

			<figure role="figure" aria-hidden="true">
				<picture>
					<source media="(max-width: 875px)" srcset="{{ $small.RelPermalink }} 1x, {{ $large.RelPermalink }} 2x" type="image/webp">
					<source media="(min-width: 875px)" srcset="{{ $medium.RelPermalink }} 1x, {{ $xlarge.RelPermalink }} 2x" type="image/webp">
					<img
						alt='{{ T "hero" }} {{ .Title }}'
						decoding="async"
						src="{{ $default.RelPermalink }}"
						width="{{ $default.Width }}">
				</picture>
				<figcaption>{{ T "offline_caption" | safeHTML }}</figcaption>
			</figure>
		{{ end }}
		
		<h1>{{ .Title }}</h1>
	</header>
	
	<div>
		{{ .Content }}
	</div>
</article>

{{ end }}