{{ define "main" }}
<header>
	<h1>{{ .Params.Icon }} {{ .Title }}&nbsp;<span>(<span>{{ len .Pages }}</span> {{ T "results" }})</span></h1>
	{{ with .Description }}<p class="section_header_description">{{ . }}</p>{{ end }}
</header><!-- .section_header -->

<div>
	{{ $type := .Type }}
	{{ range $key, $value := .Data.Terms.Alphabetical }}
		{{ $name := .Name }}
		{{ $count := .Count }}
		{{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
			<article class="filtr-item" data-category="{{ .Section }}, {{ .Date.Format "2006" }}" data-title="{{ .Title }}">		
				<h3>
					<a href="{{ .Permalink }}">
						{{ .Name }}
					</a>
				</h3>
				<p>({{ $count }})</p>
			</article>
		{{ end }}
	{{ end }}
</div><!-- .archive_content -->
{{ end }}