/*****************************
******************************
*                            *
*   Anthony Nelzin-Santos    *
*     anthony@nelzin.fr      *
* https://anthony.nelzin.fr/ *
*                            *
*         EUPL v1.2          *
*                            *
******************************
*****************************/

@media print {
	body {
		--color-background: white;
		--color-theme: black;
		--color-accent: black;
		--color-text: black;
	}

	@page {
		margin: 2cm 1cm;
	}

	html {
		font-size: 12pt;
	}

	body {
		font-family: "Times New Roman", Times, serif;
		-webkit-hyphens: none;
		-ms-hypens: none;
		hyphens: none;
		line-height: 1.4;
	}
	
	.site-header,
	.site-footer {
		display: none;
	}
	
	.site-main {
		margin: 0 0 1rem 0;
		padding: 0 0 0 0;
	}
	
	.single main a {
		text-decoration: none;
		word-wrap: break-word;
	}
	
	.single main a[href^=http]:before,
	.single main a[href^=https]:before {
		color: var(--color-gray);
		content: "[";
	}
	
	.single main a[href^=http]:after,
	.single main a[href^=https]:after {
		color: var(--color-gray);
		content: "](" attr(href) ")";
	}
	
	.single main figure {
		break-inside: avoid;
	}
	
	.single main figure iframe {
		display: none;
		height: 0;
		width: 0;	
	}
	
	.single main h2,
	.single main h3 {
   		break-after: avoid-page;
   	}
}

@media print and (color) {
	* {
		-webkit-print-color-adjust: exact;
	}
}