/*****************************
******************************
*                            *
*   Anthony Nelzin-Santos    *
*     anthony@nelzin.fr      *
* https://anthony.nelzin.fr/ *
*                            *
*         EUPL v1.2          *
*                            *
******************************
*****************************/

/********
*********
* Fonts *
*********
********/

@font-face {
	font-family: "Archivo";
	src: url("../fonts/Archivo-Regular.woff2") format("woff2-variations");
	font-display: swap;
	font-style: normal;
	font-weight: 100 900;
}

@font-face {
	font-family: "Archivo";
	src: url("../fonts/Archivo-Italic.woff2") format("woff2-variations");
	font-display: swap;
	font-style: italic;
	font-weight: 100 900;
}

@font-face {
	font-family: "Piazzolla";
	src: url("../fonts/Piazzolla-Regular.woff2") format("woff2-variations");
	font-display: swap;
	font-style: normal;
	font-weight: 100 900;
}

@font-face {
	font-family: "Piazzolla";
	src: url("../fonts/Piazzolla-Italic.woff2") format("woff2-variations");
	font-display: swap;
	font-style: italic;
	font-weight: 100 900;
}

:root {
	--font-sans: "Archivo", ui-sans-serif, sans-serif;
	--font-serif: "Piazzolla", ui-serif, serif;
	--font-mono: ui-monospace, "Monaco", "Courier New", "Courier", monospace;
}

/**********
***********
* Colours *
***********
**********/

.tomato {
	--color-theme: hsl(0, 90%, 60%);
	--color-accent: hsl(350, 80%, 30%);
	--color-contrast: hsl(0, 90%, 92%);
	--color-background: hsl(0, 90%, 99%);
	--color-text: hsl(0, 90%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(350, 10%, 30%, 30%);
	--color-mono: hsl(350, 10%, 35%);
}

.orange {
	--color-theme: hsl(20, 90%, 60%);
	--color-accent: hsl(0, 80%, 30%);
	--color-contrast: hsl(20, 90%, 92%);
	--color-background: hsl(20, 90%, 99%);
	--color-text: hsl(20, 90%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(0, 10%, 30%, 30%);
	--color-mono: hsl(0, 10%, 35%);
}

.brown {
	--color-theme: hsl(30, 30%, 50%);
	--color-accent: hsl(20, 50%, 25%);
	--color-contrast: hsl(30, 50%, 92%);
	--color-background: hsl(30, 90%, 99%);
	--color-text: hsl(30, 90%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(20, 10%, 25%, 30%);
	--color-mono: hsl(20, 10%, 30%);
}

.yellow {
	--color-theme: hsl(40, 100%, 60%);
	--color-accent: hsl(30, 60%, 30%);
	--color-contrast: hsl(40, 100%, 92%);
	--color-background: hsl(40, 100%, 99%);
	--color-text: hsl(40, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(30, 10%, 30%, 30%);
	--color-mono: hsl(30, 10%, 35%);
}

.lime {
	--color-theme: hsl(70, 75%, 60%);
	--color-accent: hsl(100, 20%, 30%);
	--color-contrast: hsl(70, 75%, 92%);
	--color-background: hsl(70, 100%, 99%);
	--color-text: hsl(70, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(100, 10%, 30%, 30%);
	--color-mono: hsl(100, 10%, 35%);
}

.green {
	--color-theme: hsl(100, 50%, 60%);
	--color-accent: hsl(130, 40%, 25%);
	--color-contrast: hsl(100, 50%, 92%);
	--color-background: hsl(100, 100%, 99%);
	--color-text: hsl(100, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(130, 10%, 25%, 30%);
	--color-mono: hsl(130, 10%, 30%);
}

.sage {
	--color-theme: hsl(130, 20%, 60%);
	--color-accent: hsl(160, 40%, 25%);
	--color-contrast: hsl(130, 20%, 92%);
	--color-background: hsl(130, 100%, 99%);
	--color-text: hsl(130, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(160, 10%, 25%, 30%);
	--color-mono: hsl(160, 10%, 30%);
}

.turquoise {
	--color-theme: hsl(160, 60%, 45%);
	--color-accent: hsl(130, 50%, 25%);
	--color-contrast: hsl(160, 60%, 92%);
	--color-background: hsl(160, 100%, 99%);
	--color-text: hsl(160, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(130, 10%, 25%, 30%);
	--color-mono: hsl(130, 10%, 30%);
}

.cyan {
	--color-theme: hsl(190, 50%, 60%);
	--color-accent: hsl(210, 30%, 25%);
	--color-contrast: hsl(190, 50%, 92%);
	--color-background: hsl(190, 100%, 99%);
	--color-text: hsl(190, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(210, 10%, 25%, 30%);
	--color-mono: hsl(210, 10%, 30%);
}

.blue {
	--color-theme: hsl(210, 75%, 70%);
	--color-accent: hsl(230, 30%, 25%);
	--color-contrast: hsl(210, 75%, 92%);
	--color-background: hsl(210, 100%, 99%);
	--color-text: hsl(210, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(230, 10%, 25%, 30%);
	--color-mono: hsl(230, 10%, 30%);
}

.indigo {
	--color-theme: hsl(230, 50%, 40%);
	--color-accent: hsl(230, 60%, 25%);
	--color-contrast: hsl(230, 50%, 92%);
	--color-background: hsl(230, 100%, 99%);
	--color-text: hsl(230, 100%, 5%);
	--color-text-over: var(--color-background);
	--color-shadow: hsla(230, 40%, 25%, 30%);
	--color-mono: hsl(230, 10%, 30%);
}

.violet {
	--color-theme: hsl(260, 55%, 75%);
	--color-accent: hsl(280, 30%, 25%);
	--color-contrast: hsl(260, 55%, 92%);
	--color-background: hsl(260, 100%, 99%);
	--color-text: hsl(260, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(280, 10%, 25%, 30%);
	--color-mono: hsl(280, 10%, 30%);
}

.purple {
	--color-theme: hsl(280, 55%, 30%);
	--color-accent: hsl(260, 30%, 25%);
	--color-contrast: hsl(280, 55%, 92%);
	--color-background: hsl(280, 100%, 99%);
	--color-text: hsl(280, 100%, 5%);
	--color-text-over: var(--color-background);
	--color-shadow: hsla(260, 10%, 0%, 30%);
	--color-mono: hsl(260, 10%, 30%);
}

.lilac {
	--color-theme: hsl(300, 55%, 30%);
	--color-accent: hsl(325, 30%, 25%);
	--color-contrast: hsl(300, 55%, 92%);
	--color-background: hsl(300, 100%, 99%);
	--color-text: hsl(300, 100%, 5%);
	--color-text-over: var(--color-background);
	--color-shadow: hsla(325, 10%, 25%, 30%);
	--color-mono: hsl(325, 10%, 30%);
}

.magenta {
	--color-theme: hsl(325, 60%, 35%);
	--color-accent: hsl(345, 50%, 25%);
	--color-contrast: hsl(325, 60%, 92%);
	--color-background: hsl(325, 100%, 99%);
	--color-text: hsl(325, 100%, 5%);
	--color-text-over: var(--color-background);
	--color-shadow: hsla(345, 10%, 25%, 30%);
	--color-mono: hsl(345, 10%, 30%);
}

.red {
	--color-theme: hsl(345, 90%, 35%);
	--color-accent: hsl(0, 60%, 30%);
	--color-contrast: hsl(340, 90%, 92%);
	--color-background: hsl(345, 100%, 99%);
	--color-text: hsl(345, 100%, 5%);
	--color-text-over: var(--color-background);
	--color-shadow: hsla(0, 10%, 30%, 30%);
	--color-mono: hsl(0, 10%, 35%);
}

.grey {
	--color-theme: hsl(230, 5%, 65%);
	--color-accent: hsl(210, 30%, 25%);
	--color-contrast: hsl(230, 5%, 92%);
	--color-background: hsl(230, 100%, 99%);
	--color-text: hsl(230, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(210, 10%, 25%, 30%);
	--color-mono: hsl(210, 10%, 30%);
}

.taupe {
	--color-theme: hsl(280, 5%, 50%);
	--color-accent: hsl(260, 30%, 20%);
	--color-contrast: hsl(280, 5%, 92%);
	--color-background: hsl(280, 100%, 99%);
	--color-text: hsl(280, 100%, 5%);
	--color-text-over: var(--color-text);
	--color-shadow: hsla(260, 10%, 20%, 30%);
	--color-mono: hsl(260, 10%, 25%);
}

.black {
	--color-theme: hsl(280, 0%, 20%);
	--color-accent: hsl(260, 0%, 5%);
	--color-contrast: hsl(280, 0%, 92%);
	--color-background: hsl(280, 0%, 99%);
	--color-text: hsl(280, 0%, 5%);
	--color-text-over: var(--color-background);
	--color-shadow: hsla(260, 0%, 5%, 30%);
	--color-mono: hsl(260, 0%, 10%);
}

::selection {
	background: var(--color-accent);
	color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
	.tomato {
		--color-theme: hsl(0, 10%, 30%);
		--color-accent: hsl(350, 50%, 75%);
		--color-contrast: hsl(0, 90%, 92%);
		--color-background: hsl(0, 5%, 10%);
		--color-text: hsl(0, 10%, 80%);
		--color-text-over: hsl(0, 10%, 95%);
		--color-shadow: hsla(350, 10%, 30%, 30%);
		--color-mono: hsl(350, 10%, 70%);
	}

	.orange {
		--color-theme: hsl(20, 10%, 30%);
		--color-accent: hsl(0, 50%, 75%);
		--color-contrast: hsl(20, 90%, 92%);
		--color-background: hsl(20, 5%, 10%);
		--color-text: hsl(20, 10%, 80%);
		--color-text-over: hsl(20, 10%, 95%);
		--color-shadow: hsla(0, 10%, 30%, 30%);
		--color-mono: hsl(0, 10%, 70%);
	}

	.brown {
		--color-theme: hsl(30, 10%, 30%);
		--color-accent: hsl(20, 50%, 75%);
		--color-contrast: hsl(30, 50%, 92%);
		--color-background: hsl(30, 5%, 10%);
		--color-text: hsl(30, 10%, 80%);
		--color-text-over: hsl(30, 10%, 95%);
		--color-shadow: hsla(20, 10%, 25%, 30%);
		--color-mono: hsl(20, 10%, 70%);
	}

	.yellow {
		--color-theme: hsl(40, 10%, 30%);
		--color-accent: hsl(30, 50%, 75%);
		--color-contrast: hsl(40, 100%, 92%);
		--color-background: hsl(40, 5%, 10%);
		--color-text: hsl(40, 10%, 80%);
		--color-text-over: hsl(40, 10%, 95%);
		--color-shadow: hsla(30, 10%, 30%, 30%);
		--color-mono: hsl(30, 10%, 70%);
	}

	.lime {
		--color-theme: hsl(70, 10%, 30%);
		--color-accent: hsl(40, 50%, 75%);
		--color-contrast: hsl(70, 75%, 92%);
		--color-background: hsl(70, 5%, 10%);
		--color-text: hsl(70, 10%, 80%);
		--color-text-over: hsl(70, 10%, 95%);
		--color-shadow: hsla(40, 10%, 30%, 30%);
		--color-mono: hsl(40, 10%, 70%);
	}

	.green {
		--color-theme: hsl(100, 10%, 30%);
		--color-accent: hsl(70, 50%, 75%);
		--color-contrast: hsl(100, 50%, 92%);
		--color-background: hsl(100, 5%, 10%);
		--color-text: hsl(100, 10%, 80%);
		--color-text-over: hsl(100, 10%, 95%);
		--color-shadow: hsla(70, 10%, 25%, 30%);
		--color-mono: hsl(70, 10%, 70%);
	}

	.sage {
		--color-theme: hsl(130, 10%, 30%);
		--color-accent: hsl(100, 50%, 75%);
		--color-contrast: hsl(130, 20%, 92%);
		--color-background: hsl(130, 5%, 10%);
		--color-text: hsl(130, 10%, 80%);
		--color-text-over: hsl(130, 10%, 95%);
		--color-shadow: hsla(100, 10%, 25%, 30%);
		--color-mono: hsl(100, 10%, 70%);
	}

	.turquoise {
		--color-theme: hsl(160, 10%, 30%);
		--color-accent: hsl(130, 50%, 75%);
		--color-contrast: hsl(160, 60%, 92%);
		--color-background: hsl(160, 5%, 10%);
		--color-text: hsl(160, 10%, 80%);
		--color-text-over: hsl(160, 10%, 95%);
		--color-shadow: hsla(130, 10%, 25%, 30%);
		--color-mono: hsl(130, 10%, 70%);
	}

	.cyan {
		--color-theme: hsl(190, 10%, 30%);
		--color-accent: hsl(160, 50%, 75%);
		--color-contrast: hsl(190, 50%, 92%);
		--color-background: hsl(190, 5%, 10%);
		--color-text: hsl(190, 10%, 80%);
		--color-text-over: hsl(190, 10%, 95%);
		--color-shadow: hsla(160, 10%, 25%, 30%);
		--color-mono: hsl(160, 10%, 70%);
	}

	.blue {
		--color-theme: hsl(210, 10%, 30%);
		--color-accent: hsl(190, 50%, 75%);
		--color-contrast: hsl(210, 75%, 92%);
		--color-background: hsl(210, 5%, 10%);
		--color-text: hsl(210, 10%, 80%);
		--color-text-over: hsl(210, 10%, 95%);
		--color-shadow: hsla(190, 10%, 25%, 30%);
		--color-mono: hsl(190, 10%, 70%);
	}

	.indigo {
		--color-theme: hsl(230, 10%, 30%);
		--color-accent: hsl(210, 50%, 75%);
		--color-contrast: hsl(230, 50%, 92%);
		--color-background: hsl(230, 5%, 10%);
		--color-text: hsl(230, 10%, 80%);
		--color-text-over: hsl(230, 10%, 95%);
		--color-shadow: hsla(210, 10%, 25%, 30%);
		--color-mono: hsl(210, 10%, 70%);
	}

	.violet {
		--color-theme: hsl(260, 10%, 30%);
		--color-accent: hsl(230, 50%, 75%);
		--color-contrast: hsl(260, 55%, 92%);
		--color-background: hsl(260, 5%, 10%);
		--color-text: hsl(260, 10%, 80%);
		--color-text-over: hsl(260, 10%, 95%);
		--color-shadow: hsla(230, 10%, 25%, 30%);
		--color-mono: hsl(230, 10%, 70%);
	}

	.purple {
		--color-theme: hsl(280, 10%, 30%);
		--color-accent: hsl(260, 50%, 75%);
		--color-contrast: hsl(280, 55%, 92%);
		--color-background: hsl(280, 5%, 10%);
		--color-text: hsl(280, 10%, 80%);
		--color-text-over: hsl(280, 10%, 95%);
		--color-shadow: hsla(260, 10%, 25%, 30%);
		--color-mono: hsl(260, 10%, 70%);
	}

	.lilac {
		--color-theme: hsl(300, 10%, 30%);
		--color-accent: hsl(280, 50%, 75%);
		--color-contrast: hsl(300, 55%, 92%);
		--color-background: hsl(300, 5%, 10%);
		--color-text: hsl(300, 10%, 80%);
		--color-text-over: hsl(300, 10%, 95%);
		--color-shadow: hsla(280, 10%, 25%, 30%);
		--color-mono: hsl(280, 10%, 70%);
	}

	.magenta {
		--color-theme: hsl(325, 10%, 30%);
		--color-accent: hsl(300, 50%, 75%);
		--color-contrast: hsl(325, 60%, 92%);
		--color-background: hsl(325, 5%, 10%);
		--color-text: hsl(325, 10%, 80%);
		--color-text-over: hsl(325, 10%, 95%);
		--color-shadow: hsla(300, 10%, 25%, 30%);
		--color-mono: hsl(300, 10%, 70%);
	}

	.red {
		--color-theme: hsl(345, 10%, 30%);
		--color-accent: hsl(325, 50%, 75%);
		--color-contrast: hsl(340, 90%, 92%);
		--color-background: hsl(345, 5%, 10%);
		--color-text: hsl(345, 10%, 80%);
		--color-text-over: hsl(345, 10%, 95%);
		--color-shadow: hsla(325, 10%, 30%, 30%);
		--color-mono: hsl(325, 10%, 70%);
	}

	.grey {
		--color-theme: hsl(250, 5%, 30%);
		--color-accent: hsl(230, 50%, 75%);
		--color-contrast: hsl(250, 5%, 92%);
		--color-background: hsl(250, 5%, 10%);
		--color-text: hsl(250, 10%, 80%);
		--color-text-over: hsl(250, 10%, 95%);
		--color-shadow: hsla(230, 10%, 25%, 30%);
		--color-mono: hsl(230, 10%, 70%);
	}

	.taupe {
		--color-theme: hsl(280, 5%, 30%);
		--color-accent: hsl(260, 50%, 75%);
		--color-contrast: hsl(280, 5%, 92%);
		--color-background: hsl(280, 5%, 10%);
		--color-text: hsl(280, 10%, 80%);
		--color-text-over: hsl(280, 10%, 95%);
		--color-shadow: hsla(260, 10%, 20%, 30%);
		--color-mono: hsl(260, 10%, 70%);
	}

	.black {
		--color-theme: hsl(280, 0%, 30%);
		--color-accent: hsl(260, 0%, 75%);
		--color-contrast: hsl(280, 0%, 92%);
		--color-background: hsl(280, 0%, 10%);
		--color-text: hsl(280, 0%, 80%);
		--color-text-over: hsl(280, 0%, 95%);
		--color-shadow: hsla(260, 0%, 5%, 30%);
		--color-mono: hsl(260, 0%, 70%);
	}
	
	::selection {
		background: var(--color-text);
		color: var(--color-background);
	}
}

*, *:before, *:after {
	box-sizing: border-box;
}

/**********
***********
* General *
***********
**********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	background-color: var(--color-background);
	font-size: 100%;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	display: grid;
		grid-template-rows: [header] 25vh [content] auto [footer] 1fr [end];
		column-gap: 1.777em;
		row-gap: 7.418em;
	font-family: var(--font-serif);
	font-size: clamp(1.2rem, 3vw, 1.3rem);
	-webkit-hyphens: auto;
	-ms-hypens: auto;
	hyphens: auto;
		-webkit-hyphenate-limit-before: 3;
		-webkit-hyphenate-limit-after: 2;
		-ms-hyphenate-limit-chars: 5 3 2;
		-webkit-hyphenate-limit-lines: 3;
		-ms-hyphenate-limit-lines: 3;
		-ms-hyphenate-limit-zone: 6%;
		-ms-hyphenate-limit-last: always;
	line-height: 1.5;
	margin: 0 1rem;
		max-width: 62.5rem;
	padding: 0 0 0 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.content {
	display: grid;
		column-gap: 1.777em;
		row-gap: 1em;
}

/*  Smaller iPads in portrait */
@media screen and (min-width: 768px) {
	.content {
		/* grid-template-columns: subgrid; */
		grid-template-columns: [header] 15ch [sidebar] 1fr [footer] 20ch [end];
		row-gap: 2.369em;
	}
}

/*  iPad Pro 12,9" in portrait, other devices in landscape */
@media screen and (min-width: 1024px) {
	body {
		/* grid-template-columns: [header] max-content [sidebar] 1fr [footer] max-content [end]; */
		grid-template-columns: [header] 20ch [sidebar] 1fr [footer] 20ch [end];
		margin: 0 auto;
	}
	
	.content {
		/* grid-template-columns: subgrid; */
		grid-template-columns: [header] 20ch [sidebar] 1fr [footer] 20ch [end];
	}
}

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:hover {
	background: var(--color-accent);
	color: var(--color-text-over);
}

button {
	background-color: var(--color-background);
	border: .1em solid var(--color-accent);
	border-radius: .5em;
	color: var(--color-accent);
	padding: .6em 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
}

button:hover {
	background-color: var(--color-contrast);
	cursor: pointer;
}

button.active {
	background-color: var(--color-accent);
	color: var(--color-background);
	font-weight: 700;
}

em em,
i i {
	font-style: normal;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-sans);
		font-size: 1em;
	line-height: 1;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 700;
}

h3 {
	font-weight: 600;
}

h4 {
	font-weight: 400;
}
	
figure img,
img,
figure audio,
audio
figure video,
video {
	width: 100%;
}

input {
	border: .1em solid var(--color-accent);
	border-radius: .5em;
	font-size: 1em;
	padding: .5em 1em;
}

ul {
	list-style: inside square;
	margin: 0 0 0 0;
}

ul + p {
	margin: 1em 0 1em 0 !important;
}

/**************
***************
* Scaffolding *
***************
**************/

.site-header {
	background: var(--color-theme);
	color: var(--color-text-over);
	display: flex;
		align-items: end;
	/* font-size: 1em; */
	font-size: 1.175em;
	width: max-content;
}

.site-header a {
	display: flex;
		align-items: end;
	height: 100%;
	width: 100%;
}

.site-header:has(a:hover) {
	background: var(--color-accent);
}

.site-header h1 {
	padding: 1rem 1.6rem 1rem 1.6rem;
}

.single aside {
	margin: 0 0 1em 0;
}

.site-footer {
	background: var(--color-theme);
	color: var(--color-text-over);
	display: flex;
		justify-items: center;
	padding: 1rem 1rem 1rem 1rem;
}

@media screen and (min-width: 768px) {
	.single header {
		grid-column: header/end;
		grid-row: 1;
	}
	
	.single section {
		grid-column: header/sidebar;
		grid-row: 2;
	}
	
	.single main {
		grid-column: sidebar/end;
		grid-row: 2;
	}
}

@media screen and (min-width: 1024px) {
	.site-header {
		grid-column: header;
		grid-row: header;
		width: 100%;
	}
	
	.site-main {
		grid-column: header/end;
		grid-row: content;
	}
	
	.site-footer {
		grid-column: footer;
		grid-row: footer;
	}
}

/********
*********
* Lists *
*********
********/

.section p {
	color: var(--color-mono);
	font-style: italic;
}

.title {
	display: flex;
		flex-direction: column;
	margin: 0 0 1em 0;
}

.title time {
	color: var(--color-mono);
}

@media screen and (min-width: 768px) {
	.title {
		display: flex;
			align-items: center;
			column-gap: 1em;
			flex-direction: row;
			justify-content: space-between;
		margin: 0 0 0.315em 0;
	}
	
	.title h2 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.title time {
		text-align: right;
		white-space: nowrap;
	}
}

/*******
********
* Home *
********
*******/

.home {
	margin: 0 0 4.209em 0;
}

.home section h1 {
	font-size: 1.333em;
	margin: 0 0 0 0;
}

@media screen and (min-width: 768px) {
	.home main {
		grid-column: sidebar/end;
	}
}

.home .thumbnails {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.home .thumbnails .thumbnail {
	display: inline-block;
	vertical-align: top;
	width: 13.288em;
}

.home .thumbnails .thumbnail:not(:last-of-type) {
	margin: 0 1em 0 0;
}

.home .thumbnails .thumbnail a:hover {
	background: none !important;
	opacity: .75;
}

/***********
************
* Articles *
************
***********/

.single header h1 {
	font-size: 2.369em;
	margin: 0 0 0 0;
}

.single a {
	text-decoration: underline;
		 text-decoration-color: var(--color-accent);
		 text-decoration-style: dotted;
}

.single figcaption {
	color: var(--color-mono);
	font-size: .6em;
	font-style: italic;
	text-align: right;
}

.single_content .footnotes {
	font-size: .9em;
	margin: 1em 0 0 0;
}

.single main .footnotes ol {
	counter-reset: section;
	list-style-type: none;
}

.single main .footnotes ol li::before {
	content: counters(section,".") ". ";
	counter-increment: section;
	font-weight: bold;
}

.single main .footnotes ol li p {
	display: inline;
}

.single main .rssonly {
	background: var(--color-contrast);
    border: .1em solid var(--color-accent);
    border-radius: .5em;
    font-family: var(--font-sans);
    margin: 0 0 1em;
    padding: 1em;
    text-align:center
}

.single main blockquote,
.single main figure,
.single main p,
.single main ol,
.single main ul {
	margin: 0 0 1em 0;
}

.single main abbr[title],
.single main dfn[title] {
	cursor: help;
    text-decoration: underline;
    	text-decoration-color: var(--color-accent);
    	text-decoration-style: dashed;
}

.single main blockquote {
	border-left: .5em solid var(--color-theme);
	font-style: italic;
	padding: 0 0 0 1em;
}

.single main blockquote i,
.single main blockquote em {
	font-style: normal;
}

.single main code,
.single mainpre {
	font-family: var(--font-mono);
		font-feature-settings: "zero";
}

.single main del {
	text-decoration: line-through;
}

.single main h2 {
	font-size: 1.777em;
	margin: 2.369em 0 0.422em 0;
}

.single main h3 {
	font-size: 1.333em;
	margin: 1.777em 0 0.422em 0;
}

.single main h4 {
	font-size: 1em;
	margin: 1.333em 0 0.422em 0;
}

.single main > h2 + h3,
.single main > h3 + h4 {
	margin: 0.422em 0 0.422em 0;
}

.single main ins {
	text-decoration: none;
}

.single main pre {
	white-space: pre-wrap;
	margin-bottom: 1em;
	padding: 1em;
}

.single main sub {
	font-variant-position: sub;
}

.single main sup {
	font-variant-position: super;
}

.single main table {
	font-variant-numeric: tabular-nums;
	border-top: .25em solid var(--color-accent);
	border-bottom: .25em solid var(--color-accent);
	border-collapse: collapse;
	margin: 0 0 1em 0;
	padding: 0;
	text-align: left;
	width: 100%;
}

.single main table thead tr {
	border-top: none;
	border-bottom: .1em solid var(--color-accent);
}

.single main table th,
.single main table td {
	padding: .5em 0;
}

.single main table tr {
	border-top: .1em solid var(--color-contrast);
}

/************
*************
* Footnotes *
*************
************/

.footnote-container {
    display: inline-block;
    position: relative;
    text-indent: 0;
}

.footnote-backdrop {
    cursor: pointer;
}

.footnote-button {
    border: 1px solid var(--color-mono);
    border-radius: 1em;
    color: var(--color-mono);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    height: 1em;
    line-height: 0;
    margin: 0 0 0 0.25em;
    padding: 0;
    position: relative;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background;
    transition-property: background;
    vertical-align: middle;
    width: 1em;
    z-index: 1;
}

.footnote-button:after {
    content: attr(data-fn-number);
    display: block;
    font-family: var(--font-mono);
    font-size: 0.563em;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
}

.footnote-button:hover {
    background: var(--color-contrast);
    outline: none;
}

.footnote-button.is-active {
    background: var(--color-accent);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.footnote-button.is-active:after {
    color: var(--color-text-over);
}

.bf-footnote {
    background: var(--color-background);
    border: 1px solid var(--color-mono);
    border-radius: 0.422em;
    box-shadow: 0 0.5em 1em 0 var(--color-shadow);
    color: var(--color-mono);
    margin: 1.618em 0;
    max-width: 90vw;
    opacity: 0;
    position: absolute;
    	left: 0;
    	top: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    z-index: 3;
}

.bf-footnote.footnote-is-active {
    opacity: 0.98;
}

.bf-footnote.footnote-is-top {
    bottom: 0;
    top: auto;
}

.footnote-wrapper {
    background: inherit;
    border-radius: 0.422em;
    margin: 0 0 0 0;
    overflow: hidden;
    position: relative;
    width: 17.713em;
    	max-width: 75vw;
    z-index: 5;
}

.footnote-tooltip {
    background: inherit;
    border: 1px solid var(--color-mono);
    height: 1.333em;
    position: absolute;
    top: -0.317em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1.333em;
    z-index: 4;
}

.footnote-is-top .footnote-tooltip {
    bottom: -0.317em;
    top: auto;
}

.footnote-content {
	margin: 0.75em 1em 0.75em 1em;
    max-height: 50vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    z-index: 2;
}

.footnote-content :first-child {
    margin-top: 0;
    padding-top: 0;
}

.footnote-content :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}