/*****************************
******************************
*                            *
*   Anthony Nelzin-Santos    *
*     anthony@nelzin.fr      *
* https://anthony.nelzin.fr/ *
*                            *
*         EUPL v1.2          *
*                            *
******************************
*****************************/

/**********
***********
* Colours *
***********
**********/

body {
	--color-background: rgb(97.97% 92.69% 99.81%);
	--color-theme: rgb(41.69% 15.35% 54.2%);
	--color-accent: rgb(47.42% 10.11% 49.27%);
	--color-contrast: rgb(95.86% 85.78% 95.39%);
	--color-text: rgb(10.5% 4.09% 12.41%);
	--color-text-over: var(--color-background);
	--color-shadow: rgb(12.18% 2.05% 16.05% / 50%);
	--color-mono: rgb(43.31% 41.03% 44.1%);
}

::selection {
	background: var(--color-accent);
	color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
	body {
		--color-background: rgb(13.14% 9.52% 14.56%);
		--color-theme: rgb(35.48% 22.98% 40.84%);
		--color-accent: rgb(38.29% 21.81% 38.44%);
		--color-contrast: rgb(90.24% 80.28% 89.79%);
		--color-text: rgb(75.83% 70.81% 77.59%);
		--color-text-over: rgb(81.26% 76.17% 83.05%);
		--color-shadow: rgb(0% 0% 0% / 50%);
		--color-mono: rgb(68.79% 66.31% 69.64%);
	}
	
	::selection {
		background: var(--color-text);
		color: var(--color-background);
	}
}

@supports (background-color: lch(30% 60 315)) {
	body {
		--color-background: lch(95% 10 var(--hue));
		--color-theme: lch(30% 60 var(--hue));
		--color-accent: lch(30% 60 calc(var(--hue) + 10));
		--color-contrast: lch(90% 15 calc(var(--hue) + 10));
		--color-text: lch(5% 15 var(--hue));
		--color-text-over: var(--color-background);
		--color-shadow: lch(5% 25 var(--hue) / 50%);
		--color-mono: lch(45% 5 var(--hue));
	}
	
	.grey {
		--color-background: lch(95% 5 315);
		--color-theme: lch(20% 20 315);
		--color-accent: lch(20% 20 325);
		--color-contrast: lch(90% 15 325);
		--color-text: lch(5% 15 315);
		--color-text-over: var(--color-background);
		--color-shadow: lch(5% 25 315 / 50%);
		--color-mono: lch(45% 5 315);
	}
	
	.black {
		--color-background: lch(95% 0 315);
		--color-theme: lch(10% 0 315);
		--color-accent: lch(0% 0 325);
		--color-contrast: lch(90% 0 325);
		--color-text: lch(5% 0 315);
		--color-text-over: var(--color-background);
		--color-shadow: lch(5% 0 315 / 50%);
		--color-mono: lch(45% 0 315);
	}
	
	@media (prefers-color-scheme: dark) {
		body {
			--color-background: lch(10% 10 var(--hue));
			--color-theme: lch(30% 30 var(--hue));
			--color-accent: lch(30% 30 calc(var(--hue) + 10));
			--color-contrast: lch(85% 15 calc(var(--hue) + 10));
			--color-text: lch(75% 10 var(--hue));
			--color-text-over: lch(80% 10 var(--hue));
			--color-shadow: lch(0% 10 var(--hue) / 50%);
			--color-mono: lch(70% 5 var(--hue));
		}
		
		.grey {
			--color-background: lch(10% 5 315);
			--color-theme: lch(20% 10 315);
			--color-accent: lch(20% 10 325);
			--color-contrast: lch(85% 15 325);
			--color-text: lch(75% 10 315);
			--color-text-over: lch(80% 10 315);
			--color-shadow: lch(0% 25 315 / 50%);
			--color-mono: lch(70% 5 315);
		}
		
		.black {
			--color-background: lch(5% 0 315);
			--color-theme: lch(30% 0 315);
			--color-accent: lch(20% 0 325);
			--color-contrast: lch(85% 0 325);
			--color-text: lch(75% 0 315);
			--color-text-over: lch(80% 0 315);
			--color-shadow: lch(0% 0 315 / 50%);
			--color-mono: lch(70% 0 315);
		}
	}
	
	.purple {
		--hue: 315;
	}
	
	.zinzolin {
		--hue: 335;
	}
	
	.garnet {
		--hue: 355;
	}
	
	.tomato {
		--hue: 15;
	}
	
	.sienna {
		--hue: 35;
	}
	
	.brown {
		--hue: 55;
	}
	
	.khaki {
		--hue: 75;
	}
	
	.olive {
		--hue: 95;
	}
	
	.sage {
		--hue: 105;
	}
	
	.lichen {
		--hue: 125;
	}
	
	.jungle {
		--hue: 145;
	}
	
	.green {
		--hue: 165;
	}
	
	.forest {
		--hue: 185;
	}
	
	.turquoise {
		--hue: 205;
	}
	
	.petrol {
		--hue: 225;
	}
	
	.cerulean {
		--hue: 245;
	}
	
	.blue {
		--hue: 265;
	}
	
	.indigo {
		--hue: 285;
	}
	
	.violet {
		--hue: 305;
	}
}

/**********
***********
* General *
***********
**********/

*, *:before, *:after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	background-color: var(--color-background);
	font-size: 100%;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-size: clamp(1.2rem, 3vw, 1.333rem);
	-webkit-hyphens: auto;
	-ms-hypens: auto;
	hyphens: auto;
		-webkit-hyphenate-limit-before: 3;
		-webkit-hyphenate-limit-after: 2;
		-ms-hyphenate-limit-chars: 5 3 2;
		-webkit-hyphenate-limit-lines: 3;
		-ms-hyphenate-limit-lines: 3;
		-ms-hyphenate-limit-zone: 6%;
		-ms-hyphenate-limit-last: always;
	line-height: 1.5;
	margin: 0 1.333em 0 1.333em;
	max-width: calc(100%-2.666em);
	padding: 0 0 0 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

@media screen and (min-width: calc(55.927em*1.333)) {
	body {
		margin: 0 auto;
		max-width: 55.927em;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

a:focus,
a:hover {
	background: linear-gradient(180deg, var(--color-accent), var(--color-theme) 66%);
	color: var(--color-text-over);
}

aside {
	font-size: 0.75em;
}

button {
	background-color: var(--color-background);
	border: 1px solid;
	border-radius: 0.422em;
	color: var(--color-text);
	margin: 0.422em 0 0 0;
	padding: 0.422em 0.563em 0.422em 0.563em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

button:hover {
	background-color: var(--color-contrast);
	cursor: pointer;
}

button.active {
	background-color: var(--color-accent);
	border: 1px solid var(--color-accent);
	color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
	button:hover{
		color: var(--color-background);
	}
	
	button.active {
		background-color: var(--color-text);
	}
}

em em,
i i {
	font-style: normal;
}

figure img,
img,
figure audio,
audio
figure video,
video {
	width: 100%;
}

h1,
h2,
h3,
h4 {
	font-size: 1em;
	font-weight: 700;
	line-height: 1;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h4 {
	font-weight: 400;
}

hr {
	border: 0;
	color: inherit;
	font-family: var(--font-sans);
	margin: 0;
	padding: 1em 0 1em 0;
	text-align: center;
}

hr::before {
	content: "※";
}

section {
	display: flex;
		align-content: flex-start;
		flex-flow: row wrap;
		gap: 1em .75em;
		justify-content: space-between;
}

ul {
	list-style: inside square;
}

/**************
***************
* Scaffolding *
***************
**************/

.content {
	display: grid;
		grid-template-columns: [header] 17.713rem [sidebar] minmax(0, 1fr) [end];
		/* minmax() trick from https://css-tricks.com/preventing-a-grid-blowout/ */
		column-gap: 2.369em;
		row-gap: 1em;
}

@media screen and (min-width: 768px) {
	.content {
		row-gap: 2.369em;
	}
}

.content header,
.content main,
.content section {
	grid-column: header/end;
}

@media screen and (min-width: 768px) {
	.content header {
		grid-row: 1;
	}
	
	.content section {
		grid-column: header/sidebar;
		grid-row: 2;
	}
	
	.content main {
		grid-column: sidebar/end;
		grid-row: 2;
	}
}

.site-header {
	background: linear-gradient(180deg, var(--color-accent), var(--color-theme) 66%);
	color: var(--color-text-over);
	display: flex;
		align-items: end;
	font-size: 1em;
	height: 17.713rem;
	width: 17.713rem;
	margin: 0 0 7.418em 0;
}

.site-header a {
	background: none;
	display: flex;
		align-items: end;
	height: 100%;
	width: 100%;
}

.site-header h1 {
	padding: 0 0 1em 1.333em;
}
	
.site-header:has(a:hover) {
	background: var(--color-accent);
}

.site-footer {
	width: 17.713rem;
	margin: 7.418em 0 0 0;
	float: right;
	background: linear-gradient(180deg, var(--color-theme), var(--color-accent) 66%);
	color: var(--color-text-over);
	font-size: 0.75em;
	padding: 1em 1.333em 1em 1.333em;
	text-align: right;
}

.site-footer a {
	text-decoration: underline;
		text-decoration-style: dotted;
}

.site-footer a:focus,
.site-footer a:hover {
	background: var(--color-text-over);
	color: var(--color-theme);
	text-decoration: none;
}

.site-footer nav {
	margin: 1.333em 0 1.333em 0;
}

/********
*********
* Lists *
*********
********/

.list header h1 {
	font-size: 1.333em;
}

.list .description {
	color: var(--color-mono);
	font-style: italic;
}

.list .title {
	padding: 0 0 1em 0;
	width: 100%;
}

.list .title time {
	color: var(--color-mono);
}

@media screen and (min-width: 768px) {
	.list .title {
		padding: 0 0 0.333em 0;
		display: flex;
			align-items: center;
			column-gap: 1em;
			justify-content: space-between;
		width: 100%;
	}
	
	.list .title h2 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.list .title time {
		white-space: nowrap;
	}
}

/*******
********
* Home *
********
*******/

.home {
	margin: 0 0 4.209em 0;
}

@media screen and (min-width: 768px) {
	.home header {
		grid-column: header;
	}
	
	.home main {
		grid-row: 1;
	}
}

.home .thumbnails {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.home .thumbnails .thumbnail {
	display: inline-block;
	vertical-align: top;
	width: 17.713rem;
}

.home .thumbnails .thumbnail:not(:last-of-type) {
	margin: 0 1em 0 0;
}

.home .thumbnails .thumbnail a:hover {
	background: none;
	opacity: .75;
}

/***********
************
* Articles *
************
***********/

.single .hero,
.single .cover-big {
	margin: 0 0 2.369em 0;
}

.single .cover-small {
	display: none;
}

@media screen and (min-width: 768px) {
	.single .cover-small {
		display: block;
	}

	.single .cover-big {
		display: none;
	}
}

.single section aside {
	flex-basis: 9.969em;
}

@media screen and (min-width: 768px) {
	.single section aside {
		flex-basis: 100%;
	}
}

.single .author {
	text-align: right;
}

.single a {
	text-decoration: underline;
		 text-decoration-color: var(--color-accent);
		 text-decoration-style: dotted;
}

@media (prefers-color-scheme: dark) {
	.single a {
		text-decoration-color: var(--color-contrast);
	}
}

.single a:focus,
.single a:hover {
	text-decoration: none;
}

.single figcaption {
	color: var(--color-mono);
	font-size: .75em;
	font-style: italic;
	text-align: right;
}

.single h1 {
	font-size: 2.369em;
}

.single main .footnotes {
	font-size: 1em;
	margin: 1em 0 0 0;
}

.single main .footnotes ol {
	counter-reset: section;
	list-style-type: none;
}

.single main .footnotes ol li::before {
	content: counters(section,".") ". ";
	counter-increment: section;
	font-weight: 700;
}

.single main .footnotes ol li p {
	display: inline;
}

.single main .rssonly {
	background: var(--color-contrast);
    border: 1px solid var(--color-accent);
    border-radius: 0.422em;
    font-family: var(--font-sans);
    margin: 0 0 1em 0;
    padding: 0.563em 0.75em 0.563em 0.75em;
    text-align:center
}

.single main blockquote,
.single main figure,
.single main p,
.single main ol,
.single main ul {
	margin: 0 0 1em 0;
}

.single main abbr[title],
.single main dfn[title] {
	cursor: help;
    text-decoration: underline;
    	text-decoration-color: var(--color-accent);
    	text-decoration-style: dashed;
}

.single main blockquote {
	border-left: .5em solid var(--color-accent);
	font-style: italic;
	padding: 0 0 0 1em;
}

.single main blockquote i,
.single main blockquote em {
	font-style: normal;
}

.single main code,
.single main pre {
	font-family: var(--font-mono);
		font-feature-settings: "zero";
}

.single main del {
	text-decoration: line-through;
}

.single main h2 {
	font-size: 1.777em;
	margin: 2.369em 0 0.422em 0;
}

.single main h3 {
	font-size: 1.333em;
	margin: 1.777em 0 0.422em 0;
}

.single main h4 {
	font-size: 1em;
	margin: 1.333em 0 0.422em 0;
}

.single main > h2 + h3,
.single main > h3 + h4 {
	margin: 0.422em 0 0.422em 0;
}

.single main ins {
	text-decoration: none;
}

.single main pre {
	white-space: pre-wrap;
	margin-bottom: 1em;
	padding: 1em;
}

.single main sub {
	font-variant-position: sub;
}

.single main sup {
	font-variant-position: super;
}

.single main table {
	font-variant-numeric: tabular-nums;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-collapse: collapse;
	margin: 0 0 1em 0;
	padding: 0;
	text-align: left;
	width: 100%;
}

.single main table thead tr {
	border-top: none;
	border-bottom: 2px solid;
}

.single main table th,
.single main table td {
	padding: 0.422em 0;
}

.single main table tr {
	border-top: 1px solid var(--color-contrast);
}

/************
*************
* Footnotes *
*************
************/

.footnote-container {
    display: inline-block;
    position: relative;
    text-indent: 0;
}

.footnote-backdrop {
    cursor: pointer;
}

.footnote-button {
    border: 1px solid var(--color-text);
    border-radius: 0.422em;
    color: var(--color-text);
    cursor: pointer;
    display: inline-block;
    font-size: 0.75em;
    height: 1em;
    line-height: 0;
    margin: 0 0 0 0.238em;
	padding: 0 1em 0 0.563em;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}

.footnote-button:after {
    content: attr(data-fn-number);
    display: block;
    font-family: var(--font-mono);
    font-size: 0.563em;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
}

.footnote-button:hover {
    background: var(--color-contrast);
    outline: none;
}

.footnote-button.is-active {
    background: var(--color-accent);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.footnote-button.is-active:after {
    color: var(--color-text-over);
}

@media (prefers-color-scheme: dark) {
	.footnote-button:hover {
		background-color: var(--color-text);
		color: var(--color-background);
	}
	
	.footnote-button.is-active,
	.footnote-button.is-active:after {
		background-color: var(--color-contrast);
		color: var(--color-background);
	}
}

.bf-footnote {
    background: var(--color-contrast);
    border: 1px solid var(--color-text);
    border-radius: 0.422em;
    box-shadow: 0 0.563em 1em 0 var(--color-shadow);
    color: var(--color-text);
    margin: 1.618em 0;
    max-width: 90vw;
    opacity: 0;
    position: absolute;
    	left: 0;
    	top: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    z-index: 3;
}

@media (prefers-color-scheme: dark) {
	.bf-footnote {
		background: var(--color-background);
		color: var(--color-contrast);
	}
}

.bf-footnote.footnote-is-active {
    opacity: 0.98;
}

.bf-footnote.footnote-is-top {
    bottom: 0;
    top: auto;
}

.footnote-wrapper {
    background: inherit;
    border-radius: 0.422em;
    margin: 0 0 0 0;
    overflow: hidden;
    position: relative;
    width: 17.713em;
    	max-width: 75vw;
    z-index: 5;
}

.footnote-tooltip {
    background: inherit;
    border: 1px solid var(--color-text);
    height: 1.333em;
    position: absolute;
    top: -0.317em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1.333em;
    z-index: 4;
}

.footnote-is-top .footnote-tooltip {
    bottom: -0.317em;
    top: auto;
}

.footnote-content {
	margin: 0.75em 1em 0.75em 1em;
    max-height: 50vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    z-index: 2;
}

.footnote-content :first-child {
    margin-top: 0;
    padding-top: 0;
}

.footnote-content :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}