{{ if $hero := .Resources.GetMatch "hero.jpg" }}
	{{ $default := $hero.Resize "800x" }}
	{{ $small := $hero.Resize "600x webp" }}
	{{ $medium := $hero.Resize "800x webp" }}
	{{ $large := $hero.Resize "1200x webp" }}
	{{ $xlarge := $hero.Resize "1600x webp" }}

	<figure class="hero" role="figure" aria-hidden="true">
		<picture>
			<source
				media="(max-width: 875px)"
				srcset="{{ $small.RelPermalink }} 1x, {{ $large.RelPermalink }} 2x"
				type="image/webp" />
			<source
				media="(min-width: 875px)"
				srcset="{{ $medium.RelPermalink }} 1x, {{ $xlarge.RelPermalink }} 2x"
				type="image/webp" />
			<img
				alt='{{ T "hero" }} {{ .Title }}'
				decoding="async"
				loading="lazy"
				src="{{ $default.RelPermalink }}"
				width="{{ $default.Width }}" />
		</picture>
		{{ if $hero := .Resources.GetMatch "hero.jpg" }}<figcaption>{{ if .Params.Credits }}{{ .Params.Credits | safeHTML }}{{ else }}{{ T "image" }} {{ .Site.Params.Author.Name }}{{ end }}.</figcaption>{{ end }}
	</figure>
{{ end }}

{{ if $cover := .Resources.GetMatch "cover.jpg" }}
<aside aria-hidden="true" class="cover-big">
	{{ $default := $cover.Resize "500x" }}
	{{ $xsmall := $cover.Resize "250x webp" }}
	{{ $small := $cover.Resize "500x webp" }}
	
	<picture>
		<source srcset="{{ $xsmall.RelPermalink }} 1x, {{ $small.RelPermalink }} 2x" type="image/webp" />
		<img
			alt='{{ T "cover" }} {{ .Title }}'
			decoding="async"
			loading="lazy"
			src="{{ $default.RelPermalink }}"
			width="{{ $default.Width }}" />
	</picture>
</aside>
{{ end }}

{{ if $swatch := .Resources.GetMatch "swatch.jpg" }}
<aside aria-hidden="true" class="cover-big">
	{{ $default := $swatch.Resize "500x" }}
	{{ $xsmall := $swatch.Resize "250x webp" }}
	{{ $small := $swatch.Resize "500x webp" }}
	
	<picture>
		<source srcset="{{ $xsmall.RelPermalink }} 1x, {{ $small.RelPermalink }} 2x" type="image/webp" />
		<img
			alt='{{ T "swatch" }} {{ .Title }}'
			decoding="async"
			loading="lazy"
			src="{{ $default.RelPermalink }}"
			width="{{ $default.Width }}" />
	</picture>
</aside>
{{ end }}