<!-- Hero images -->
{{ if $cover := .Resources.GetMatch "cover.jpg" }}
<section aria-hidden="true">
	{{ $default := $cover.Resize "500x" }}
	{{ $xsmall := $cover.Resize "250x webp" }}
	{{ $small := $cover.Resize "500x webp" }}
	
	<picture>
		<source srcset="{{ $xsmall.RelPermalink }} 1x, {{ $small.RelPermalink }} 2x" type="image/webp" />
		<img
			alt='{{ T "cover" }} {{ .Title }}'
			decoding="async"
			loading="lazy"
			src="{{ $default.RelPermalink }}"
			width="{{ $default.Width }}" />
	</picture>
</aside>
{{ end }}

{{ if $swatch := .Resources.GetMatch "swatch.jpg" }}
<section aria-hidden="true">
	{{ $default := $swatch.Resize "500x" }}
	{{ $xsmall := $swatch.Resize "250x webp" }}
	{{ $small := $swatch.Resize "500x webp" }}
	
	<picture>
		<source srcset="{{ $xsmall.RelPermalink }} 1x, {{ $small.RelPermalink }} 2x" type="image/webp" />
		<img
			alt='{{ T "swatch" }} {{ .Title }}'
			decoding="async"
			loading="lazy"
			src="{{ $default.RelPermalink }}"
			width="{{ $default.Width }}" />
	</picture>
</aside>
{{ end }}

<!-- Date -->
<aside>
	<h2>{{ T "published" }}</h2>
	<time datetime='{{ .PublishDate.Format "2006-01-02T15:04:05" }}'>{{ .PublishDate | time.Format ":date_long" }}</time>
</aside>

{{ if .Date }}{{ if ne .PublishDate .Date }}
<aside>
	<h2>{{ T "updated" }}</h2>
	<time datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'><a href="{{ .Site.Params.Repo }}/commit/{{ with .GitInfo }}{{ .Hash }}{{ end }}">{{ .Date | time.Format ":date_long" }}</a></time>
</aside>
{{ end }}{{ end }}

<!-- Taxonomies -->
{{ if .Params.ISBN }}
<aside>
	<h2>{{ T "info" }}</h2>
	<p>{{ range $key, $value := .Params.Auteurs }}  <a href="/auteurs/{{ $value | urlize }}">{{ $value }}</a>{{ if ne $key (sub (len $.Params.Auteurs) 1) }}, {{ else }}{{ end }}
{{ end }}</p>
	<p>{{ range .Params.Editeurs }}<a href="{{ "/editeurs/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}</p>
	<p>{{ with .Params.Annee }}{{ . }}{{ end }}</p>
	<p>{{ with .Params.Pages }}{{ . }} p.{{ end }}</p>
	<p>{{ .Params.ISBN }}</p>
</aside>
{{ end }}

{{ if .Params.Pays }}
<aside>
	<h2>{{ T "country" }}</h2>
	{{ range .Params.Pays }}
	<p><a href="{{ "/pays/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
	{{ end }}
</aside>
{{ end }}

{{ if .Params.Marques }}
<aside>
	<h2>{{ T "brands" }}</h2>
	{{ range .Params.Marques }}
	<p><a href="{{ "/marques/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
	{{ end }}
</aside>
{{ end }}

{{ if .Params.AchatDate }}
<aside>
	<h2>{{ T "buying" }}</h2>
	<p>{{ .Params.AchatDate }}</p>
	{{ with .Params.AchatLieu }}<p>{{ . }}</p>{{ end }}
	{{ with .Params.AchatPrix }}<p>{{ . }}</p>{{ end }}
</aside>
{{ end }}

{{ if .Params.Lectures }}
<aside>
	<h2>{{ T "reading" }}</h2>
	{{ range .Params.Lectures }}
	<p><a href="{{ "/lectures/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
	{{ end }}
</aside>
{{ end }}

{{ if .Params.Cotes }}
<aside>
	<h2>{{ T "shelving" }}</h2>
	{{ range .Params.Cotes }}
	<p><a href="{{ "/cotes/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
	{{ end }}
</aside>
{{ end }}

{{ if .Params.Genres }}
<aside>
	<h2>{{ T "genres" }}</h2>
	{{ range .Params.Genres }}
	<p><a href="{{ "/genres/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
	{{ end }}
</aside>
{{ end }}

{{ if .Params.Themes }}
<aside>
	<h2>{{ T "themes" }}</h2>
	{{ range .Params.Themes }}
	<p><a href="{{ "/themes/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></p>
	{{ end }}
</aside>
{{ end }}