{{ $type := .Get "type" }}
{{ $section := .Get "section" }}
{{ $limit := .Get "limit" }}
{{ $pages := where (where .Site.RegularPages "Section" $section) "Params.Rssonly" "!=" true }}

<div class="content home">
	<section>
		{{ with .Site.GetPage "section" $section }}
		<h1>{{ .Params.Icon }} <a href="{{ .Permalink }}">{{ .Title }}</a></h1>
		{{ with .Description }}<p>{{ . }}</p>{{ end }}
		{{ end }}
	</section>

	{{ if eq $type "cover" }}
		<main class="thumbnails">
			{{ range first $limit $pages }}
				<article class="thumbnail">		
					{{ if $cover := .Resources.GetMatch "cover.jpg" }}
					{{ $default := $cover.Resize "500x" }}
					{{ $xsmall := $cover.Resize "250x webp" }}
					{{ $small := $cover.Resize "500x webp" }}
					<a href="{{ .Permalink }}"><picture><source srcset="{{ $xsmall.RelPermalink }} 1x, {{ $small.RelPermalink }} 2x" type="image/webp"><img alt='{{ T "cover" }} {{ .Title }}' decoding="async" loading="lazy" src="{{ $default.RelPermalink }}" width="{{ $default.Width }}"></picture></a>
					{{ end }}
				</article>
			{{ end }}
		</main>
	{{ else if eq $type "hero" }}
		<main class="thumbnails">
			{{ range first $limit $pages }}
				<article class="thumbnail">		
					{{ if $hero := .Resources.GetMatch "hero.jpg" }}
					{{ $default := $hero.Resize "500x" }}
					{{ $xsmall := $hero.Resize "250x webp" }}
					{{ $small := $hero.Resize "500x webp" }}
					<a href="{{ .Permalink }}"><picture><source srcset="{{ $xsmall.RelPermalink }} 1x, {{ $small.RelPermalink }} 2x" type="image/webp"><img alt='{{ T "hero" }} {{ .Title }}' decoding="async" loading="lazy" src="{{ $default.RelPermalink }}" width="{{ $default.Width }}"></picture></a>
					{{ end }}
				</article>
			{{ end }}
		</main>
	{{ else }}
		<main>
			{{ range first $limit $pages }}
				<article class="title">		
					<a href="{{ .Permalink }}"><h2>{{ partial "title.html" . }}</h2></a>
					<time datetime='{{ .Date.Format "2006-01-02T15:04:05" }}'>{{ .Date | time.Format ":date_long" }}</time>
				</article>
			{{ end }}
		</main>
	{{ end }}
</div>